# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HashCode-2021\Sahil\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
